In [3]:
import os
import pandas as pd

In [4]:
file='./源数据128张表格/垂钓装备&绑钩器.xlsx'
df=pd.read_excel(file)
df.head(10)

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1
5  2019-08  0.021992    9145  绑钩器  200.324598   品牌-5
6  2019-08  0.022965   32891  绑钩器   43.851649   品牌-3
7  2019-08  0.035300   49135  绑钩器   16.985544  品牌-19
8  2019-08  0.020287   17329  绑钩器   73.811901  品牌-11
9  2019-08  0.032217   18724  绑钩器   40.693616   品牌-2

In [6]:
df.drop_duplicates(subset=['日期'],inplace=False)['日期']
df['日期'].unique()

array(['2019-08', '2019-07', '2019-06', '2019-05', '2019-04', '2019-03',
       '2019-02', '2019-01', '2018-12', '2018-11', '2018-10', '2018-09'],
      dtype=object)

In [7]:
df['销售额']=df['访客数']*df['转化率']*df['客单价']
df.head(10)

        日期       转化率     访客数 三级类目         客单价     品牌            销售额
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947
5  2019-08  0.021992    9145  绑钩器  200.324598   品牌-5   40287.990724
6  2019-08  0.022965   32891  绑钩器   43.851649   品牌-3   33123.618573
7  2019-08  0.035300   49135  绑钩器   16.985544  品牌-19   29461.035477
8  2019-08  0.020287   17329  绑钩器   73.811901  品牌-11   25949.454477
9  2019-08  0.032217   18724  绑钩器   40.693616   品牌-2   24547.301353

In [11]:
df_sum=df.groupby('品牌')['销售额'].sum().reset_index()
df_sum.head(3)

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507

In [14]:
df_sum['行业']=file.replace('.xlsx','').split('/')[-1]
df_sum.head(3)

      品牌            销售额        行业
0   品牌-1  529837.745358  垂钓装备&绑钩器
1  品牌-10  217976.661847  垂钓装备&绑钩器
2  品牌-11  327093.079507  垂钓装备&绑钩器

In [15]:
#批量循环执行

In [23]:
import time
start=time.time()

result=pd.DataFrame()
dir='源数据128张表格'
for name in os.listdir(dir):
    df = pd.read_excel(os.path.join(dir,name))
    df['销售额']=df['访客数']*df['转化率']*df['客单价']
    df_sum=df.groupby('品牌')['销售额'].sum().reset_index()
    df_sum['行业']=name
    result=pd.concat([result,df_sum])

final_result = result.groupby('品牌')['销售额'].sum().reset_index()
end =time.time()

print(end-start)

2.873049020767212

In [24]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
final_result.head(3)

      品牌            销售额
0   品牌-1 1061681673.415
1  品牌-10 1088054963.479
2  品牌-11 1151829215.732

In [25]:
final_result.sort_values(['销售额'],ascending=False)[0:5]

       品牌            销售额
15   品牌-5 1226223640.733
8   品牌-17 1195280571.601
2   品牌-11 1151829215.732
4   品牌-13 1150687029.658
3   品牌-12 1143519788.231